
<% if signed_in? %>
	<h1><%=@current_user.name %>, bem-vindo de volta ao Lição Virtual!</h1>

	<p>
		Continue a fazer os exercícios e acumule mais medalhas!
	</p>

<% else %>

<h1>Bem-vindo ao Lição Virtual!</h1>

<p>
  Essa é a página inicial do Lição Virtual!
</p>

<%= link_to "Cadastre-se!", signup_path, :class => "signup_button round" %>

<% end %>
