<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Fale Conosco", contact_path %></li>
      <li>Desenvolvido por GCI (c)</li>
    </ul>
  </nav>
</footer>
