<header>
  <%= image_tag("logo.png", :alt => " ", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Ajuda", help_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>
